
.nav-bar {
    background-color: rgb(80, 80, 80);
    width: 100%;
    padding: 15px;
    height: 40px;
}

.menu {
    float: right;
    margin-right: 15px;
}

.nav-bar a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 10px;
}

/* Change background on mouse-over */
.nav-bar a:hover {
    background: #ddd;
    color: black;
}


.title {
    color: white;
    float: left;
}

ul {
  color: black;
  font-weight: bold;
  font-size: 1em;
}

.work {
  border: 1px solid black;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.contacts {
  border: 1px solid black;
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
}

.screenshot {
  width: 175px;
  height: 175px;
}

.projects {
  text-align: center;
}

.blog-holder, .blog {
  margin: 15px;
}

.separator {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  border-bottom: 3px solid #7A7A7A;
}

.pic {
  position: relative;
  display: block;
  width: 400px;
  height: 600px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 250px;
  float: right;
}

.about-text {
  margin: 75px 90px 75px 10px;
  font-size: large;
}

img {
    width: 100px;
}

section {
    padding: 20px;
}

body {
    margin: 0px;
    background-color: rgb(245, 249, 247);
}

footer {
    margin-top: 40px;
}