
.nav-bar {
    background-color: rgb(80, 80, 80);
    /*position: fixed; Set the navbar to fixed position*/
    /* top: 0; Position the navbar at the top of the page */
    width: 100%; /*Full width*/
    padding: 15px;
    height: 20px;
}

.menu {
    float: right;
    margin-right: 15px;
}

.nav-bar a {
   
    /* display: block; */
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.nav-bar a:hover {
    background: #ddd;
    color: black;
}


.title {
    color: white;
    float: left;
}



img {
    width: 100px;
}

section {
    padding: 20px;
}

body {
    margin: 0px;
    background-color: rgb(233, 249, 243);
}

footer {
    margin-top: 40px;
}